<h2>Lista de Usuarios</h2>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <!-- <th>Email</th>
      <th>Móvil</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.code }}</td>
      <td>{{ user.username }}</td>
      <!-- <td>{{ user.email }}</td>
      <td>{{ user.telefono_movil }}</td> -->
    </tr>
  </tbody>
</table>

<p *ngIf="users.length === 0">No hay usuarios disponibles.</p>
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>